#!/usr/bin/make -f

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_install:
	dh_auto_install
	
	# the source code of rawdns does not make a library
	rm -r debian/rawdns/usr/share/gocode
