#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export DH_GOPKG := github.com/tianon/rawdns

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_install:
	dh_auto_install
	
	mkdir -p debian/rawdns/etc
	cp example-config.json debian/rawdns/etc/rawdns.json
	
	# the source code of rawdns does not make a library
	rm -rf debian/rawdns/usr/share/gocode
